@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

.container {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #556270;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF6B6B, #556270);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-height: 45vh;
}

.container .heading {
    color: #001524;
    font-size: 3em;
    font-family: 'Hi Melody', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
    text-shadow: 2px 5px 8px rgba(0,0,0,0.79);
}

.heading span {
    background-clip: text;
    background-image: linear-gradient(to right, #ab2836, #1d3958);
    color: transparent;
}

.image img {
    width: 400px;
}

@media only screen and (max-width: 786px) {
    .container .heading {
        font-size: 2rem;
    }
    .image img {
        width: 300px;
    }
}
@media only screen and (max-width: 425px) {
    .container .heading {
        font-size: 1.5rem;
    }
    .image img {
        width: 200px;
    }
}
@media only screen and (max-width: 375px) {
    .container .heading {
        font-size: 1rem;
    }
    .image img {
        width: 100px;
    }
}