.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label {
    font-weight: 500;
    font-size: 1em;
}
input {
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;

}
input:hover {
    border: 1px solid #adadad;
}
input:focus {
    border: 1px solid rgb(204, 141, 141)
}